bin
.config/nvim/lazy-lock.json
.config/nvim/tmp
.config/nvim/plugged
.config/page
.config/systemd
.config/environment.d
sops/
containers/khoj
containers/grimoire
containers/arr apps
virt-machines/
.mozilla/
.fonts/
publickey
windows-11/
windows-11.conf
