bin

### AIDER BS
.aider*

### CONTAINERS
containers/khoj
containers/arr apps
containers/funkwhale
containers/grimoire

### CONFIG

#DONT LEAK API KEY:
.config/litellm

.config/environment.d
.config/nvim/*
.config/nvimFnl
.config/nvimWithoutLazy
.config/page
.config/systemd


.mozilla/
.fonts/
publickey
.config/hypr/plugins/hyprscroller.so
virtMachines/
theme/ComfyUI_00181_.png
./.aider*
templates/*
