### AIDER BS
.aider*
./.aider*

### CONTAINERS
containers/khoj
containers/arr apps
containers/funkwhale
containers/grimoire

### CONFIG

#DONT LEAK API KEY:
.config/litellm

.config/environment.d
.config/nvim/*
.config/nvimFnl
.config/nvimWithoutLazy
.config/page
.config/systemd

.mozilla/
.fonts/
publickey
virtMachines/
theme/wallpapers/*
templates/*
