  window#waybar {
    font-size: 16px;
    font-family: Terminess Nerd Font;
    background: #2e3440;
    color: #fdf6e3;
  }

  #custom-right-arrow-dark,
  #custom-left-arrow-dark
    {
      color: #1a1a1a;
    }
  #custom-right-arrow-light,
  #custom-left-arrow-light
    {
      color: #292b2e;
      background: #1a1a1a;
    }

  #workspaces, /*********************************/
  #clock.1,    /* Dumb                          */
  #clock.2,    /*       Dependencies            */
  #clock.3,    /*                     fuck off  */
  #pulseaudio, /*                               */
  #memory,     /*                               */
  #cpu,        /*                               */
  #battery,    /*                               */
  #disk,       /*********************************/
  #tray
    {
      background-color: #2e3440;
    }
  #tray > .passive
    {
      -gtk-icon-effect: dim;
    }

  #tray > .needs-attention
    {
      -gtk-icon-effect: highlight;
    }

/*WORKSPACE CONFIG*/
  #workspaces button
    {
      background-color: #434c5e;
      color: #fdf6e3;
    }
  #workspaces button.active 
    {
      color: #ffffff;
      background: #5e81ac;
    }
  #workspaces button.visible:not(.active)
    {
      color: #ffffff;
      background: gray;
    }
  #workspaces button:hover
    {
      box-shadow: inherit;
      text-shadow: inherit;
    }
  #workspaces button:hover
    {
      background: #1a1a1a;
      border: #1a1a1a;
    }
  #workspaces button.visible
    {
      background: gray;
      color: #ffffff;
    }

  #pulseaudio
    {
      color: #268bd2;
      padding-left: 2px;
    }
  #cpu
    {
      color: #6c71c4;
      padding-right: 2px;
    }
  #temperature
    {
      color: #ffffff;
      padding-left: 2px
    }
  #memory
    {
      color: #2aa198;
      padding-right: 1px;
    }
  #battery
    {
      color: #859900;
    }
  #disk
    {
      color: #b58900;
      padding: 0 0px;
    }
  #clock
    {
      color: #ffffff;
      background: gray;
    }

